html,
body {
  min-width: 1200px;
  min-height: 2256px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
  
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
 

}

.index-logo {
  float: left;
   width: 150px;

  /* Только для оформления сетки */
  min-height: 83px;
}

.main-navigation {
  width: 499px;
  margin: 0 auto;

  /* Только для оформления сетки */
  min-height: 83px;
}

.buyer-block {
    margin-left: auto;
     margin-rit: auto;

   width: 100px;

  /* Только для оформления сетки */
  min-height: 83px;
}






























/*======================================
 Системное оформление - не изменять
=======================================*/
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > *  {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.index-logo::before {
   content: ".index-logo";
}

.main-navigation::before {
  content: ".main-navigation";
}

.buyer-block::before {
  content: ".buyer-block";
}



/*======================================
 ДЗ - не изменять
=======================================*/
body{   
    font-family:"Roboto"; 
    font-size:16px;
    color: #283136;
    line-height:22px;
    font-weight:normal;
}

h1{
    font-family:"Roboto";
    font-size:40px;
    font-weight:normal;
    line-height:120%;
    color: #000000;
}

h2{
    font-family:"Roboto";
    font-size:36px;
    font-weight:normal;
    line-height:40px;
    color: #000000;
}

h3{
    font-family: "Roboto";
    font-size:18px;
    font-weight:normal;
    line-height:30px;
    color: #000000;
}