
html,
body {
  min-width: 1200px;
  min-height: 2256px;
  margin: 0;
  padding: 0;
}

body {   
  font-family:"Roboto"; 
  font-size:16px;
  color: #283136;
  line-height:22px;
  font-weight:normal;
}

.main-header {
  /* Только для оформления сетки */
  min-height: 83px;
  outline:2px solid green;
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;  
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
  outline:2px solid red;
}

.index-logo {
  float: left;
  width: 150px;
  
  /* Только для оформления сетки */
  min-height: 83px;
  outline:2px solid yellow;
}

.main-navigation {
  float: left;
  width: 420px;
  
  /* Только для оформления сетки */
  min-height: 83px;
  outline:2px solid yellow;
}

.buyer-block {
  float: right;
  width: 100px;

  /* Только для оформления сетки */
  min-height: 83px;
  outline:2px solid yellow;
}

h1 {
  font-family:"Roboto";
  font-size:40px;
  font-weight:normal;
  line-height:120%;
  color: #000000;
}

h2 {
  font-family:"Roboto";
  font-size:36px;
  font-weight:normal;
  line-height:40px;
  color: #000000;
}

h3 {
  font-family: "Roboto";
  font-size:18px;
  font-weight:normal;
  line-height:30px;
  color: #000000;
}

